body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;

}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.sort-search-wrapper {
    display: flex;
    justify-content: center;
}

.sort-search form{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 0.7rem;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 50%;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.post-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.add {
    text-align: center;
}

.button-column form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    gap: 10px;
    width: 50px;
}
